# Godot 4+ specific ignores
.godot/
.import/
/android/
.vs/
.vscode/
/data/gen/
/global.json
Datas/~*
Datas/attr/~*
modules/*/__pycache__/
modules/*/*.obj
modules/*/*.obj.import
modules/*/*/*.obj
modules/*/*/*.obj.import